{% extends "blog/base.html" %}
{% load static %}

{% block title %}о нас{% endblock %}

{% block content %}
    <div class="about">
    <h1>о нас</h1>
    <br>
<p>Этот сайт - настоящий кладезь смеха и радости. Мы собрали для вас самые невероятные и забавные истории со всего мира, которые не оставят никого равнодушным.</p>

<p>Здесь можно найти курьезные случаи из повседневной жизни, смешные рецепты, которые заставят вас хохотать на кухне, и необычные происшествия, которые удивляют и развлекают. Вспомните те моменты, когда вы смеялись до слез, читая какую-нибудь абсурдную новость или анекдот. Мы стремимся подарить вам именно такие чувства каждый день.</p>

<p>Независимо от того, какое у вас настроение, на этом сайте всегда найдется что-то, что поднимет вам настроение и заставит улыбнуться. Кроме того, у нас есть специальный раздел для тех, кто любит делиться своими историями. Вы можете отправить нам свои забавные случаи из жизни, и мы с радостью опубликуем их на сайте, чтобы и другие могли посмеяться вместе с вами.</p>
        </div>
        {% endblock %}